<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="xwang.cordova.alipay" version="0.0.1">
	<name>Alipay</name>
	<description>A cordova plugin, a JS version of Alipay SDK</description>
	<license>MIT</license>
	<keywords>cordova,alipay,payment</keywords>
	<repo>https://github.com/hkizuna/cordova-plugin-alipay.git</repo>
	<issue>https://github.com/hkizuna/cordova-plugin-alipay/issues</issue>

	<preference name="PARTNERID" />
	<!-- required cordova version -->
	<engines>
		<engine name="cordova" version=">=3.9.2" />
	</engines>
	<!-- js module -->
	<js-module src="www/alipay.js" name="Alipay">
		<clobbers target="Alipay" />
	</js-module>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="Alipay">
				<param name="ios-package" value="CDVAlipay" />
				<param name="onload" value="true" />
			</feature>
			<preference name="PARTNERID" value="a$PARTNERID" />
		</config-file>

		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
	      	<array>
	          	<dict>
	              	<key>CFBundleURLName</key>
	              	<string>alipay</string>
	              	<key>CFBundleURLSchemes</key>
	              	<array>
	              		<string>a$PARTNERID</string>
	              	</array>
	          	</dict>
	      	</array>
		</config-file>

		<!-- plugin source code -->
		<header-file src="src/ios/CDVAlipay.h" />
		<source-file src="src/ios/CDVAlipay.m" />

		<!-- Alipay-->
		<framework src="src/ios/libs/AlipaySDK.framework" custom="true" />

		<!-- other required frameworks -->
		<framework src="SystemConfiguration.framework" />
		<framework src="CoreTelephony.framework" />
		<framework src="QuartzCore.framework" />
		<framework src="CoreText.framework" />
		<framework src="CoreGraphics.framework" />
		<framework src="UIKit.framework" />
		<framework src="Foundation.framework" />
		<framework src="CFNetwork.framework" />
		<framework src="CoreMotion.framework" />
		<framework src="libz.dylib" />
		<framework src="libc++.dylib" />
	</platform>

	<!-- android -->
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Alipay">
				<param name="android-package" value="xwang.cordova.alipay.Alipay"/>
				<param name="onload" value="true" />
			</feature>
			<preference name="PARTNERID" value="$PARTNERID" />
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/*">
			 <uses-permission android:name="android.permission.INTERNET" />
			 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			 <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			 <uses-permission android:name="android.permission.READ_PHONE_STATE" />
			 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity
				android:name="com.alipay.sdk.app.H5PayActivity"
				android:configChanges="orientation|keyboardHidden|navigation"
				android:exported="false"
				android:screenOrientation="behind">
			</activity>
			<activity
				android:name="com.alipay.sdk.auth.AuthActivity"
				android:configChanges="orientation|keyboardHidden|navigation"
				android:exported="false"
				android:screenOrientation="behind">
			 </activity>
		</config-file>
		<source-file src="src/android/libs/alipaySdk-20160111.jar" target-dir="libs" />
		<source-file src="src/android/Alipay.java" target-dir="src/xwang/cordova/alipay" />
	</platform>
</plugin>
